.descriptionContainer {
    margin-bottom: 24px;
    font-size: large;
    margin-top: 12px;
}

.titleContainer {
    display: flex;
    justify-content: space-between;
}

.title {
    display: flex;
    font-weight: bold;
}

.hotelName {
    margin-right: 8px;
}
